html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*outline: 1px dashed orange;*/
    /*background-color: lightblue;*/
background: linear-gradient(to bottom,
#787878 0px,
#787878 80px,
rgba(120, 120, 120, 0.8166) 88px,
rgba(120, 120, 120, 0.6787) 118px,
rgba(120, 120, 120, 0.5674) 144px,
rgba(120, 120, 120, 0.4946) 163px,
rgba(120, 120, 120, 0.4358) 180px,
rgba(120, 120, 120, 0.3882) 196px,
rgba(120, 120, 120, 0.3525) 160.4px,
rgba(120, 120, 120, 0.3294) 222.2px,
rgba(120, 120, 120, 0.3147) 232px,
rgba(120, 120, 120, 0.3056) 240.4px,
rgba(120, 120, 120, 0.3014) 246.4px,
rgba(120, 120, 120, 0.3) 250px) no-repeat;
    text-align: center;
    /*padding: 20px 20px 0 20px;*/
    /*z-index: 1000;*/
}

iframe {
    width: 100%;
    height: 100%;
    /*border-radius: 20px;*/
    /*XXX in real world border radius appears just for a moment and then disappears with a flash*/
    /*box-shadow: 0 0 15px 6px #bbb;*/
}

h1 {
    margin: 0;
    font: normal 22px/32px sans-serif;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    font: 16px/22px sans-serif;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
