html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.screenshot {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 0.8;
    /*filter: saturate(8);*/
    filter: sepia(50%);
}

body[data-device-pixel-ratio="2"] .screenshot {
    background-size: 100% 100%;
}

.overlay {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
    rgba(98, 90, 90, 1) 0px,
    rgba(98, 90, 90, 1) 80px,
    rgba(245, 255, 245, 0.3) 600px
    );
    padding-top: 25px;
}

.overlay a {
    text-decoration: none;
    color: #fff;
}

.overlay a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.title {
    font: normal 30px/37px sans-serif;
    max-width: 900px;
    margin: 0 auto;
    height: 37px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

.link {
    font: normal 18px/21px sans-serif;
    max-width: 900px;
    height: 21px;
    overflow: hidden;
    margin: 0 auto;
}
