html, body {
    margin: 0;
    background-color: #f0f0f0;
}

.wrapper {
    max-width: 600px;
    margin: 30px auto 0 auto;
    border-radius: 20px;
    background-color: white;
    padding: 20px 50px;
}

h1 {
	margin-bottom: 30px;
    color: #444;
}

.version {
    font-weight: normal;
    font-size: 14px;
}

.option-row {
    margin-top: 20px;
}

#white-list {
    height: 45px;
    width: 300px;
}

dt {
    font: 16px sans-serif;
    margin-top: 20px;
    color: #222;
}

dd {
    margin: 0;
}

label.disabled {
    color: #aaa;
}

.notify {
    position: fixed;
    top: 0;
    left: 50%;
    text-align: center;
    padding: 5px 10px;
    /*bg: #eee;*/
    /*margin: 0 auto;*/
    display: none;
}

.elementFadeOut {
    display: block;
    opacity: 0;
    animation: fadeKeyframes 5s linear;
}

@keyframes fadeKeyframes {
    0% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #292929;
    }
    .wrapper {
        background-color: #222;
        color: #aaa;
    }
    h1 {
        color: #aaa;
    }
    input[type=checkbox], textarea, select {
        background-color: #555;
        color: #000;
        accent-color: desired-color;
    }
    a {
        color: lightskyblue;
    }
    .notify {
        color: #aaa;
    }
}
